  <div class="justify-content-center">
  <app-custom-stepper #cdkStepper [linear]="true" (selectionChange)="selectionchange($event)">
    <!-- ********first step******** -->
    <cdk-step label="Project Details" [stepControl]="steponeform" [optional]="false">
      
    <form (ngSubmit)="submitoneform(steponeform)" [formGroup]="steponeform" novalidate>
      <div  class="row">
        <div class="col-sm-6">
          <label for="">Organization</label>
          <select name="" id="" formControlName="organization">select dropdown
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      
        <div class="col-sm-6">
          <label for="">Category</label>
          <select name="" id="" formControlName="Category">select dropdown
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      
      <div  class="row">
        <div class="col-sm-6">
          <label for="">Activity</label>
          <select name="" class="form-select" id="" formControlName="Activity">select dropdown
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      
        <div class="col-sm-6">
          <label for="">title</label>
          <input type="text" name="" id="" formControlName="title">       
        </div>
      </div>


      <div  class="row">
        <div class="col-sm-6">
          <label for="">Minumum Age</label>
          <input type="text" name="" id="" formControlName="Minimumage">       
        </div>
      
        <div class="col-sm-6">
          <label for="">Maximum Age</label>
          <input type="text" name="" id="" formControlName="Maximumage">       
        </div>
      </div>


      <div class="row">
        <label for="">Overview Description</label>
        <input type="text" name="" id="" formControlName="description">       
      </div>
      <!-- <button>Add Row</button>  -->
      <button cdkStepperNext class="btn btn-primary" >Next</button>
    </form>  

    </cdk-step>



    <!-- ********second step******** -->


    <cdk-step label="Project Gallery" [stepControl]="steptwoform" [optional]="false"> 
      <form (ngSubmit)="submitsecond(steptwoform)" [formGroup]="steptwoform" novalidate>
        <div  class="row">
          <div class="col-sm-6">
            <label for="">Project Name</label>
            <select class="form-select form-select-lg mb-3" name="" id="" formControlName="projectname">select dropdown
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        
          <div class="col-sm-6">
            <label for="">Project Images</label>
            <input type="file" multiple="multiple" (change)="pushimg($event);">
          </div>
          <div class="col-sm-6" >
            <label for="">Images below</label>
            <!-- <input type="file" multiple="multiple"> -->
            <ng-container *ngFor="let imgs of img">
              <img src="{{imgs}}" alt="">
            </ng-container>
          </div>
        </div>
        <button cdkStepperNext class="btn btn-primary">Next</button>

      </form>
     </cdk-step>

    <!-- ********third step******** -->

    <cdk-step label="Project Costs" [stepControl]="stepthreeform" [optional]="false"> 
      <form (ngSubmit)="submitthreeform(stepthreeform)" [formGroup]="stepthreeform" novalidate>
      <div class="col-sm-12" >
        <div class="col-sm-6">
          <label for="">Project Name</label>
        
          <select class="form-select form-select-lg mb-3" name="" id="" formControlName="projectname">select dropdown
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
     
      </div>

      <div class="col-sm-12" >
        <div class="col-sm-6">
          <label for="">Project Duration</label>
          <input type="text"  formControlName="projectduration">
        </div>
        <div class="col-sm-6">
          <label for="">Project Cost</label>
          <input type="text"  formControlName="projectcost">
          <!-- <button (click)="Delete($event);">Delete Row</button> -->
        </div>
      </div>

      <div class="col-sm-12" *ngFor="let container of addcontainer">
      <div class="col-sm-6">
        <label for="">Project Duration</label>
        <input type="text">
      </div>
      <div class="col-sm-6">
        <label for="">Project Cost</label>
        <input type="text">
        <button (click)="Delete($event);">Delete Row</button>
      </div>
    </div>
    <div class="row">
      <button (click)="addrow($event);" class="btn btn-secondary">Add row</button>
    </div>
      <button cdkStepperNext class="btn btn-primary">Next</button>

    </form>
   </cdk-step>


    <!-- ********Four step******** -->

    <cdk-step label="Project Includes" [stepControl]="stepfourform" [optional]="false"> 

    <form (ngSubmit)="submitfourform(stepfourform)" [formGroup]="stepfourform" novalidate>
      <div  class="row">
        <div class="col-sm-6">
          <label for="" >Project Name</label>
          <input type="text" formControlName="projectname">
        </div>
      </div>
      <div class="col-sm-12" >
        <div class="col-sm-6">
          <label for="">Include Description</label>
          <input type="text" formControlName="includdescription">
        </div>
        <div class="col-sm-6">
          <label for="" >Inclue or Not </label>
          <input type="radio" value="1" formControlName="projectcost">
          <label for="">Include</label>
          <input type="radio" value="2" formControlName="projectcost">
          <label for="">Not Include</label>
          <!-- <button>Delete Row</button> -->
        </div>
      </div>

      <div class="col-sm-12" *ngFor="let container of addcontainerforradio">
      <div class="col-sm-6">
        <label for="">Include Description</label>
        <input type="text">
      </div>
      <div class="col-sm-6">
        <label for="">Project Cost</label>
        <input type="radio">
        <label for="">Include</label>
        <input type="radio">
        <label for="">Not Include</label>
        <button (click)="delectradio();">Delete Row</button>
      </div>
    </div>
    <div class="row">
      <button (click)="addradio();" class="btn btn-secondary">Add row</button>
    </div>

    <button cdkStepperNext class="btn btn-primary">Next</button>

    </form> </cdk-step>
    <!-- <cdk-step label="Project Dates"> <p>This is any content of "Step 1"</p> </cdk-step> -->

        <!-- ********five step******** -->

    <cdk-step label="Project Dates" [stepControl]="stepfiveform" [optional]="false">
      
      <form (ngSubmit)="submitfiveform(stepfiveform)" [formGroup]="stepfiveform" novalidate>
        <div>
          <label for="">Project Name</label>
          <input type="text" name="" id="" formControlName="projectname">
        </div>
        <div> 
          <label for="">Project StartDate</label>
          <input type="date" name="" id="" formControlName="date">
          <!-- <button>Delete Row</button> -->
  
        </div>
        <div *ngFor="let container of addcontainerforcalender"> 
          <label for="">Project StartDate</label>
          <input type="date" name="" id="">
          <button (click)="deletecalendar();" class="btn btn-warning">Delete Row</button>
  
        </div>
        <button class="btn btn-primary" (click)="addcalendar();">Add Row</button>
        <button cdkStepperNext class="btn btn-primary">Finish</button>

      </form>  
  
      </cdk-step>

  </app-custom-stepper>
</div>